.container{
width: 100%;
padding-left: 0;
padding-right: 0;
}

header h3{
	display: inline-block;
	margin-left: 17px;
	margin-bottom: 26px;
	font-weight: 600;
	color:white;
}
header{
	background-color: #faec88;
  position: fixed;
  whhite: 100%;
  width: 100%;
  z-index: 10;
}
.button{
display: inline-block;
position: relative;
float: right;
margin-top: 17px;
margin-right: 35px;
}
.logo{
display: inline-block;
position: relative;
left: 3%;
font-size: 21px;
border: 1px solid;
margin: 5px;
padding-left: 4px;
padding-right: 4px;
padding-top: 3px;
}
 

.nav > li > a{
	position: relative;
	display: block;
	padding: 10px 15px;
	color:gray;
}
aside{
	  background-color: #34495e;
  width: 15%;
  height: 100%;
  top: 72px;
  position: fixed;
	ul{
		color:white;
	}
	.parteuno{
		text-align: center;
		background-color: #34495e;
	}
	.parteuno>h4{
		color: white;
	}
	li{
		list-style: none;
		padding: 5px 0px;
	}
	img{
		border-radius: 50%;
		margin-top: 28px;
		text-align:center; 
		}
		span{
			padding: 5px;
		}
	}
section{
  width: 85%;
  float: right;
  top: 72px;
  position: relative;
  background-color: rgb(236, 240, 241);
}

.row {
margin-left: 0; 
 margin-right:0; 
}
.gray{
	background-color: #ecf0f1;
}
.col-xs-9 {
	height: 500px;
}
.col-xs-3{
	height: 500px;
}
.notificacion{
	background-color: #e74c3c;
}
.notificacion h5{
	font-size: 22px;
text-align: center;
margin-top: 19px;
margin-bottom: 0px;
height: 65px;
padding-top: 17px;
color: white;
}
.formas {
	p{
		visibility: hidden;
		color: salmon;
	}
span{
	font-size:53px;
	margin-top:5%;
	text-align: center;}
	h5{
		margin-top: 21px;
	  margin-bottom: 21px;
	  border-bottom:1px solid black;
	
}
}
.formas:hover{
	background-color:white;
	p {
		visibility: visible;
	}
	h5{
		border-bottom: none;
	}

}
.top{
	  padding-top: 52px;
}
.imagen{
	width: 100%;
	padding-bottom: 27px;
}
li> span {
	font-style:italic;
}
footer{
	background-color: #3498db;
	  height: 38px;
}